{% extends 'base_articles.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KZDZK9X');</script>
	<!-- End Google Tag Manager -->
	<meta charset="UTF-8">

	<title>{% block title %}5 шагов для написания эффективной статьи контент-маркетинга{% endblock title %}</title>
	<meta name="description" content="{% block description %}Описано пять практических шагов для написания контент – маркетинга: главные основы, с чего начать, где брать идеи и практические инструменты в написании. {% endblock description %}">
	
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZDZK9X"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
		{% block content%}
		<!-- Начало Блог статьи -->
		<div id="content-block">
			<div>
				<h1 class='title' itemprop="headline"><span style="color: green;"><strong>5</strong></span> шагов <br>для написания эффективной статьи контент-маркетинга<br><span class="badge">Тренд</span></h1>
				<meta itemprop="datePublished" content="2020-12-15">
				<meta itemprop="dateModified" content="2021-02-23">
				<link itemprop="mainEntityOfPage" href="http://www.webanatomia.ru/seo/5-shagov-dlya-napisaniya-effektivnogo-teksta-kontent-marketinga/">
			</div>
			<div class="article-top-image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
				<meta itemprop="height" content="437">
				<meta itemprop="width" content="730">
				<meta itemprop="thumbnail" content="{% static 'images/seo-articles/copywrighting-seo-page.jpg' %}">
				<img  itemprop="url" src="{% static 'images/seo-articles/copywrighting-seo-page.jpg' %}" style="box-sizing: border-box;"	alt="Эффективное написание контента" >
			</div>
			<div class="article-content">
				<p>В аспекте продвижения сайтов в топ и получения максимального трафика и следовательно прибыли, есть очень много технических составляющих, имеющих очень важное значение для seo, но все это не идет не в какое сравнение с важностью самого контента.</p>
				<p>В этой статье мы рассмотрим ... Краткий обзор статьи:</p>
				<ul><li><b><a class='inside-article-menu' href="#h2">С чего начать? Основа основ..</a></b></li></ul>
				<ul><li><b><a class='inside-article-menu' href="#h3">Создание условий для написания контента</a></b></li></ul>
				<ul><li><b><a class='inside-article-menu' href="#h4">Идеи для написания контента</a></b></li></ul>
				<ul><li><b><a class='inside-article-menu' href="#h5">Практические инструменты для повышения просмотров и эффективности контента</a></b></li></ul>
				<ul><li><b><a class='inside-article-menu' href="#h6">ГДЕ брать Инфографику?!</a></b></li></ul>
				<p>Контент, то есть содержимое ваших страниц – это главное!</p>
				<p>Поэтому в этой статье мы поговорим, каким образом писать статьи для вашего сайта так, чтобы отдача была на максимуме. </p>
				<p>Наверняка, вы как профессионал знаете многое, но давайте «пробежимся по ряду моментов, вдруг в нашей аудитории новенький».</p>
				<p>Для начала. Определитесь, какую из проблем вашей целевой группы вы разрешите в своей статье.</p>
				<p>К этому моменту вы уже должны были ответить для себя: «кто ваша аудитория», «сколько им лет», «какого пола», «где проживают», «имеет ли сезонность интересующий вопрос, товар, услуга», «какова цель вашего сайта, чего в конечном итоге вы ожидаете» и прочее.</p>
				<p>На основании этого вы составили список вопросов, по которым люди ищут в поисковых системах ответ, так называемые ключевые слова. Ваш контент должен строиться только на основании ключевых слов и их сочетаний! </p>
				<p>Это чудо интернета, если раньше ты занимался «гаданием на гуще» о нуждах потенциальных покупателей, то сейчас это можно сделать с точностью на 90%. Об этом подробно сказано в других статьях, здесь мы не будет посвящать этому время.</p>
				<p>Итак, у вас есть список интересующих аудиторию вопросов, теперь нужно дать название статье.</p>
				<p>Название статьи или заголовок – один из наиболее важным аспектов успеха, так как он определяет перейдут ли пользователи по некой ссылке для прочтения статьи и захотят ли вообще читать.</p>
				<p>Каждая статья должна раскрывать решение конкретного вопроса и\или давать очень ценные инструменты и советы для разрешения интересующего вашу аудиторию вопроса.</p>
				<p>Название статье соответственно представляет собою ответ на конкретный вопрос.  В html это будет заголовок h1.</p>
				<p>Немного об html и h1. Все поисковые роботы считывают информацию с сайтов по определенным критериям и разметке. </p>
				<p>В разметке html существуют заголовки от h1 до h6, то есть, всего 6 заголовков на одну статью. Где поисковый робот определяет h1, как наиболее значимый и далее по убыванию.</p>
				<p>Таким образом, когда пользователь вводит в поисковой строке запрос «как проглотить лампочку», робот будет просматривать в своем каталоге страницу того или иного сайта, где желательно будет заголовок H1 «Как проглотить лампочку».</p>
				<p>«H1» – служит для поискового робота одним из критериев, чему посвящена статья и ее полезность для конечно пользователя.</p>
				<p>В том числе, в h1 должно быть использовано ключевое слово с «наибольшим весом» из подобранных вами для конкретной статьи.</p>
				<p>Вы же не собирались писать статью «от балды», правда ведь?</p>
				<p>Все последующие заголовки, от h2 до h6 конкретизируют, раскрывают содержание заголовка h1, то есть главной темы.</p>
				<p>В свою очередь, «вес ключевых слов» в заголовках от h2 к h6 должен идти на уменьшение, то есть, начиная с H1, последующие заголовки должны содержать ключевые слова с «весом меньше».</p>
				<p>Для тех, кто не знаком с понятием «вес» или «значение» ключевого слова – это количество запросов пользователями в поисковых системах по конкретному слову. Например, «заказать продвижение сайт» - 1500, означает, что в месяц 1500 человек ввели такой поисковый запрос. <a style="font-weight: 600;" href="{% url 'seo_one_two_url' %}">«Секрет успешного seo продвижения сайтов»</a>.</p>
				<p>Еще раз, название должно быть максимально точным.</p>
				<p>Тема, вроде «как ловить рыбу» - не подойдет, слишком обширна. Ведь разновидностей рыбы много, где ее ловить тоже: река, море, океан, озеро. Потом, на что ее ловить, какие снасти, какая приманка.</p>
				<p>Правильно будет написать:</p>
				<ul class="list-under"><li><b>«топ-5 способов быстро ловить щуку»</b></li></ul>
				<ul class="list-under"><li><b>«три лучшие снасти для ловли щуки»</b></li></ul>
				<ul class="list-under"><li><b>«лучшее время и место для ловли щуки»</b></li></ul>
				<ul class="list-under"><li><b>«четыре лучшие приманки для щуки» и так далее. (P.S. Я не рыбак, просто мысль)</b></li></ul>
				<p><span style="font-weight: 600;">Или такой вариант заголовка:</span></p>
				<ul class="list-under"><li><b>«Как потерять вес» </b><span style="color:red;">- это плохой заголовок</span></li></ul>
				<ul class="list-under"><li><b>«10 Проверенных шагов для снижения веса после беременности за 5 недель» - конкретный заголовок, нацеленный на определенную аудиторию</b></li></ul>
				<p style="text-align: center; text-indent: 0px;"><img class="icon-imagine" src="{% static 'images/icons/bookmark.svg' %}" alt="особое внимание">РЕКОМЕНДАЦИЯ – <span style="color: #8B4513; font-weight: 800;"> 1</span></p>
				<p><i>Используйте в заголовках цифры, значения, некую срочность. <br><b>К примеру:</b> «7 Шагов для увеличения трафика на 195% за 18 дней»</i></p></p>

				<p style="text-align: center; text-indent: 0px;"><img class="icon-imagine" src="{% static 'images/icons/bookmark.svg' %}" alt="особое внимание">РЕКОМЕНДАЦИЯ – <span style="color: #F4A460; font-weight: 800;"> 2</span></p>
				<p><i>Желательно, чтобы заголовок вызывал некие эмоции, шокировал…  <br><b>К примеру:</b> «Накрутка трафика увеличит прибыль на 80% в первый месяц  и снизит ее на 300% в последующие, КАК?» </i></p></p>
				<p>Размер статьи. Статистике ниже показывает зависимость количества просмотра страниц пользователями в зависимости от количества слов в статье.</p>
				<img src="{% static 'images/seo-articles/Зависимость просмотров от длины текста.webp' %}" alt="Не оптимизированный сайт. Пример 1" class="content-image">
				<p>Теперь же, в статистике ниже, показана зависимость делящихся ссылками на статью в социальных сетях в зависимости от количества слов в тексте.</p>
				<img src="{% static 'images/seo-articles/соц.сети зависимость от размера текста.webp' %}" alt="Не оптимизированный сайт. Пример 2" class="content-image">
				<p>Но, «не высасывайте из пальца» это количество слов. Если вы смогли максимально ясно и четко раскрыть содержание темы 1500 слов, не надо «их размазывать» на 3000 слов! Если контент хороший – им поделятся, если нет, хоть 5000 слов напиши…</p>
				<p> <b class="list">Сделаем краткий итог по данной части:</b>
					<i>
						<ul class="list-under"><li>Вы определились с аудиторией и выяснили их нужды</li></ul>
						<ul class="list-under"><li>Вы собрали "ключевики" по конкретному вопросу вашей ниши</li></ul>
						<ul class="list-under"><li>Выбрали из них "низкочастотные ключевики"</li></ul>
						<ul class="list-under"><li>Дали четкое и эмоциональное название заголовку статьи с использованием 1 ключевого слова</li></ul>
						<ul class="list-under"><li>Не забыли вкючить в заголовок пункты, цифры или проценты</li></ul>	
					</i>
				</p>

				<h2 class="hhtitle" id="h2" style="color:red;"><b>Создание условий для написания контента</b></h2>
				<p>ФОКУСИРОВКА. На время написания статьи вам следует отложить свой мобильный телефон и отключить на нем звук, чтобы вас ничто и никто не отвлекал. Обязательно закройте страницы социальных сетей, онлайн магазинов и подобного… Только вы, монитор, любимая музыка, кружка кофе <img class="icon-imagine" src="{% static 'images/icons/mug.svg' %}" alt="mug of coffee"> и плитка темного шоколада, с какао более 80%. Классический рецепт<i><img class="icon-imagine" src="{% static 'images/icons/ok-hand.svg' %}" alt="the good recipe"></i></p>
				<p>Не надо говорить себе: «я же должен\должна переключить внимание», поэтому зайду в социальные сети или просмотрю, что можно купить со скидкой. Не надо так делать<img class="icon-imagine" src="{% static 'images/icons/construction-sign.svg' %}" alt="do not do it">! Иногда нужно, но не во время написания контента.</p>
				<p>Гораздо эффективнее хотя бы раз в час сделать разминку<img class="icon-imagine" src="{% static 'images/icons/power-lifting.svg' %}" alt="exercises">, пройдитесь, сделайте 50 приседаний – это улучшает кровоток (и не только его:) и, как следствие, поступление кислорода в мозг + возможность на короткое время переключить внимание! </p>
				<p>Это проверенный годами рецепт, эффективность повышается в разы, особенно, когда нужно решить сложную задачу и зачастую, мысли по ее решению приходят именно, когда переключаешься на что-то другое, даешь своему мозгу передышку. Это требует усилий, я ставил себе таймер для напоминания, не пренебрегайте этим – это многократно окупается и в здоровье и в продуктивности.</p>
				<p>Если вы, как и я «жнец, чтец и на трубе дудец», то очень помогающая методика – не стараться «добить» задачу во что бы то не стало. Речь не идет о том, чтобы бросить задачу…</p>
				<p>Если в течении дня вы должны выполнить некое условное первое, второе, третье и четвертое, но при этом вы пишите контент уже 2 часа и он все в «родовых конвульсиях» <img style="height: 100px; width: 100px; display: inline-block; float: left;" src="{% static 'images/seo-articles/giphy.gif' %}" alt="Нет идей" > - не надо продолжать, займитесь другой задачей и вернитесь к нему позже или, если позволяет время, на следующий день.</p>
				<p>Это расфокусировка внимания, она крайне важна при решении сложных задач, без нее не получится нужной «фокусировки».</p>
				<p>Обычно, на каждую задачу ежедневно у меня выделено определенное количество времени и если оно вышло, я оставляю эту задачу даже, если мне этого очень не хочется и это работает в пользу эффективности выполнения каждой задачи.</p>
				<p>Ты отложил задачу, не дописал, не доделал – досадно, но в результате возвращаешься к ней со свежей головой и делаешь лучше, если бы продолжил тогда.</p>
			
				<h3 class="hhtitle" id='h3'>Идеи для написания контента</h3>
				<p>У вас есть ниша, вы выяснили потребности вашей аудитории, есть наброски заголовков, пора писать контент. Но с чего начать? </p>
				<p>Если вы полны энтузиазма и «бьете копытом» лишь бы скорее начать писать по определенной теме – пишите, только помните о последовательности применения ключевых слов в соответствии с их популярностью.</p>
				<p>В каждом заголовке должно быть ключевое слово, «по весу» меньше предыдущего, в части же статьи, относящейся к этому конкретному заголовку должно быть использовано от 5 до 10 ключевых слов из вашей тематики. Если у вас присутствует шесть заголовков, то в тексте будет от 30 до 60 ключевых слов.</p>
				<p>Если же тема есть, а что писать не приходит пока в голову… Пишите название темы в поисковой системе Google или Яндекс, лучше смотреть в обоих, так как алгоритмы этих систем работают по-разному.</p>
				<p>После чего просмотрите 5 лучших результатов поисковой выдачи и изучите содержимое этих статей. Обратите внимание на следующее:</p>
				<p><br><svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -1 22 22" width="22px" fill="orange"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg>какое название они используют <br>
					<svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -1 22 22" width="22px" fill="orange"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg> какие аргументы и доводы использует автор <br>
					<svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -1 22 22" width="22px" fill="orange"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg> какие полезные инструменты для решения задач предлагает <br>
					<svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -1 22 22" width="22px" fill="orange"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg> какую статистику, изображения, видео используют<br>
					<svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -1 22 22" width="22px" fill="orange"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg> какие комментарии под статьей, есть ли не отвеченные вопросы<br>
					<svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -1 22 22" width="22px" fill="orange"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/></svg> какое количество слов в статье
				</p>
				<p>Вы помните, что поисковые системы показывают в верхних позициях контент, который наиболее востребован пользователями по конкретному запросу.</p>
				<p>Поэтому, если планируемое вами содержание статьи значительно отличается от статей в топе – это сигнал задуматься, возможно вы напишите ответ, который не отвечает запросу пользователей. Это не факт, но сигнал задуматься.</p>
				<p>И напоследок...</p>
				<p style="text-align: center; text-indent: 0px;"><img class="icon-imagine" src="{% static 'images/icons/bookmark.svg' %}" alt="особое внимание">РЕКОМЕНДАЦИЯ – <span style="color: #8B4513; font-weight: 800;"> 3: </span> <span style="color: red; font-weight: 800;"> ПРОСТО ПИШИТЕ!</span></p>
				<p><i>Пока вы пишите, закройте свой внутренний голос (сомнения, неуверенность и прочее) в чулан, главное пишите, закончите  и потом корректируйте. </i></p>
				<p style="text-align: center; text-indent: 0px;"><img class="icon-imagine" src="{% static 'images/icons/stopwatch.svg' %}" alt="stopwatch">РЕКОМЕНДАЦИЯ – <span style="color: #8B4513; font-weight: 800;"> 4: </span> ОПРЕДЕЛИТЕ ЛИМИТ ВРЕМЕНИ</p>
				<p><i>Определите сколько по времени вы будете писать текст, не меньше и желательно не больше. Даже, если мысли не появляются и вы определили час для написания, - все равно продолжайте!</i></p>
				
				<h4 class="hhtitle" id="h4"><u>Практические инструменты для повышения просмотров и эффективности контента</u></h4>
				<p>Если вы задавались вопросом: "Какой контент даст наибольший эффект для получения обратных ссылок", то статистика выше поможет вам понять:</p>
				<img src="{% static 'images/seo-articles/Получение обратных ссылок в зависимости от контента.webp' %}" alt="Получение обратных ссылок в зависимости от контента" class="content-image">
				<p>Инфографика в этом ключе является одним из наиболее эффективных способов, что подробнее рассмотрено в статье <b><a href="{% url 'seo_one.nine_url' %}">"Как увеличить трафик на 175% с помощь обратных ссылок"</a></b></p>
				<p>Здесь все же рассмотрим крайне полезные ресурсы для работы с изображениями, графиками и главное ресурсами, где их брать<svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 -1 22 22" width="22px" fill="gold"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 19h-6v-4h-2.68c-1.14 2.42-3.6 4-6.32 4-3.86 0-7-3.14-7-7s3.14-7 7-7c2.72 0 5.17 1.58 6.32 4H24v6h-2v4zm-4-2h2v-4h2v-2H11.94l-.23-.67C11.01 8.34 9.11 7 7 7c-2.76 0-5 2.24-5 5s2.24 5 5 5c2.11 0 4.01-1.34 4.71-3.33l.23-.67H18v4zM7 15c-1.65 0-3-1.35-3-3s1.35-3 3-3 3 1.35 3 3-1.35 3-3 3zm0-4c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1z"/></svg></p>
				<p><strong><u>Canva.com</u></strong> - хороший инструмент для работы с изображениями для публикации на сайте.</p>
				<p><strong><u>GIMP.org</u></strong> - кроссплатформенный редактор изображений, крайне полезная вещь, если хотите что-либо убрать или добавить в изображение. Позволяет экспортировать во всевозможные форматы, менять размер и разрешение изображений. Возможностей здесь куча, нужно немного поковыряться в инструкции, но окупится это на 100%. Он бесплатный.</p>
				<p><strong><u>Cloudconvert.com</u></strong> - бесплатный онлайн ресурс для конвертации изображений во все форматы, чрезвычайно полезен!</p>
				<p>Плагин<strong><u> Nimbus Screenshot & Screen Video Recorder</u></strong>  - представляет собою расширение для браузера Chrome. Устанавливаете его в качестве расширения для браузера и когда вам понадобится "извлечь" с того или иного сайта полезную статистику - он главный в этом помощник. </p>
				<p><strong><u>Snipping Tool</u></strong> - если вы не знали, это встроенная утилита для пользователей Windows. Позволяет делать скриншоты и собственно тоже "взаимствовать" изображения, графики и прочее с сайтов.</p>
				<p>P.S. Nimbus Screenshot & Screen Video Recorder и Snipping Tool - стоит использовать только для графиков, какой-либо статистики. Изображения копировать не стоит, качество будет плохое и вы нарушите права собственности. Если графики публикуют как раз с целью распространения ссылки на их статью, то изображения уже защищены авторсими правами.</p>
				<p><strong><u>ru.depositphotos.com</u></strong>- на этом сервисе огромное количество различного формата изображений, фото и видео. Пакет скачиваний или подписка платные. Для себя, просматривая многие другие схожие ресурсы, остановился все же на нем.</p> 
				<p><strong><u>Creativemarket.com, Shutterstock.com</u></strong> - так же маркеты всяческих изображений, как <strong>ru.depositphotos.com</strong> выше, отличие в цене вопроса. Не забывайте так же про <strong><u>Pinterest</u></strong> - на нем можно много чего подчерпнуть, но у меня не хватает на него времени и терпения.</p>
				
				<h5 class="hhtitle" id="h5"><span style="color:orange; white-space: pre;">ГДЕ </span> брать Инфографику!</h5>
				<p><strong><u>https://www.statista.com/</u></strong> - Немецкая компания, специализирующаяся на рыночных и потребительских данных. У них потрясающие данные, правда все на английском и цена...крайне оставляет желать лучшего.</p>
				<p>Но, как и у многих "буржуа" ресурсов они все же предоставляют бесплатно различную статистику и ее достаточно много. Поэтому ниже указываю, как ее искать, так как юзабилити сайта (насколько сайт интуитивное удобен пользователю) оставляет желать лучшего, как и их прайс.</p>
				<img src="{% static 'images/seo-articles/statica.webp' %}" alt="statica-example" class="content-image">
				<p><strong><u>www.statista.com/chartoftheday/</u></strong> - выше представлен образец этой страницы. На ней размещаются текущие публикации. Как вы видите, представлен печерень тем "current topics", можете выбрать интересующую.</p> 
				<p>Обязательно обратите внимание, что когда открываете интересующую вас тематику, внизу конкретной статьи будут представлены статьи на схожую тему "Related Infographics" и представленная информация будет бесплатна.</p>
				<p><strong><u>www.statista.com/content/infographic-release-calendar</u></strong> - - можно выбрать интересующую тему, просмотреть архив нельзя, только новости\статистику за последние 30 дней. Но лайфхак таков – выбираете любую публикацию и уже в ней есть информация о ранее опубликованных статьях, например, можно открыть ‘Computer Security Day’, опубликованный 30 ноября 2020 года, «внутри» данной публикации по этой же тематике можно просмотреть публикации вплоть до февраля 2018 года.</p>
				<p><strong><u>Visual.ly</u></strong> - здесь представлены раличные визуальные работы, из которых вы можете взять идеи или непосредственно использовать сформированную ими статистику.</p>								
				<p>Надеюсь, представленная в статье информация вам будет полезна. Точнее, она абсолютно полезна и особенно ресурсы для поиска.</p>
				<p>Далее, дело только за вами, объем полученной вами пользы пропорционален затраченному времени на изучение и вникания в представленные ресурсы.</p>
				
				<div class='tell-about-article'>
					<p >Расскажи о статье:</p>
					<div class="ya-share2" data-curtain data-shape="round" data-services="telegram,twitter,whatsapp"></div>
				</div>
				<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
					<meta itemprop="address" content="The city of Novorossiysk, Lenina st., building 71a, office 32">
					<meta itemprop="telephone" content="+79897724661">
					<meta itemprop="legalName" content="webanatomia.ru">
					<meta itemprop="name" content="SEO World">
																		
					<span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
						<meta itemprop="thumbnail" content="{% static 'images/logomini.png' %}">
						<link itemprop="url" href="{% static 'images/logomini.png' %}">
					</span>
				</div>
				
				<hr class="after-article">
				<p id="title-close-articles">Статьи по теме</p>
			</div>

		</div>
		<!-- РАЗДЕЛ РЕКОМЕНДУЕМЫХ СТАТЕЙ	 -->
		
		<div id="block-similar-articles">
			<div id="article-presentation-card">
				<img id="card-image-size" src="{% static 'images/articles-bottom/bystroe-prodvizhenie-sajta-small.jpg' %}" alt="how to fast develope your site">
				<p id="article-title"><a href="{% url 'seo_one_one_url' %}">Быстрое продвижение сайта. Как не быть<span style="color:red;"> обманутым?!</a></p>
				<p id="article-description-part">
					Вы узнаете, как не быть обманутым при обращении за продвижением сайта в топ, "подводные камни" данной сферы... <br/>
				</p>
			</div>
			<div id="article-presentation-card">
				<img id="card-image-size" src="{% static 'images/articles-bottom/secret-prodvijenia-articles-bottom.webp' %}" alt="The secret of seo">
				<p id="article-title"><a href="{% url 'seo_one_two_url' %}">Секрет успешного seo продвижения сайтов</a></p>
				<p id="article-description-part">
					Рассматриваем ключевые моменты для успешного сео продвижения сайта. С чего нужно начинать и как двигаться..<br/>
				</p>
			</div>
			<div id="article-presentation-card">
				<img id="card-image-size" src="{% static 'images/articles-bottom/four-youtubesteps-articles-bottom.webp' %}" alt="the steps for promotion in youtube">
				<p id="article-title"><a href="{% url 'seo_one_three_url' %}"><b><span style="color:red;">Топ-4</span></b> 
					шага для продвижения в ютубе и получения реальных подписчиков</a></p>
				<p id="article-description-part" style="margin-top: -14px">
					В статье приведены четыре практических шага для выстраивания правильной стратегии для получения реальных подписчиков и раскрутки своего YouTube канала <br/>
				</p>
			</div>
		</div>
	
  	<!-- окончание блока статьи -->
		{% endblock content %}
	
</body>
</html>