{% extends 'base_articles.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KZDZK9X');</script>
	<!-- End Google Tag Manager -->
	<meta charset="UTF-8">

	<title>{% block title %}Как быстро продвинуть сайт в топ{% endblock title %}</title>
	<meta name="description" content="{% block description %}Из статьи вы узнаете, что нужно для продвижения сайта в топ и как правильно продвигаться, чтобы не выбросить деньги «в трубу». А так же, чем опасна контекстная реклама.  {% endblock description %}">
	<style>
		/* .article-top-image {box-sizing: border-box; max-width: 730px; max-height: 437px; border-top-left-radius: 12px;border-top-right-radius: 12px; justify-content: center;}
    	.article-top-image img {min-width: 386; max-width: 730px; min-height: 437px;border-top-left-radius: 12px;border-top-right-radius: 12px} */
	</style>
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KZDZK9X"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
		{% block content%}
		<!-- Начало Блог статьи -->
		<!-- <img class="icon-imagine" src="{% static 'images/icons/sport-mode.svg' %}" alt="скорость загрузки"> -->
		<div id="content-block">
			<div>
				<h1 class='title' itemprop="headline">Быстрое продвижение сайта. Как не быть<b><span style="color:red;"> обманутым?!</span></b><br><span class="badge">Тренд</span></h1>
				<meta itemprop="datePublished" content="2021-01-10">
				<meta itemprop="dateModified" content="2021-02-22">
				<link itemprop="mainEntityOfPage" href="http://www.webanatomia.ru/seo/bystroe-prodvizhenie-sajta/">
			</div>
			<div class="article-top-image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
				<meta itemprop="height" content="437">
				<meta itemprop="width" content="730">
				<meta itemprop="thumbnail" content="{% static 'images/bystroe-prodvizhenie-sajta.jpg' %}">
				<img  itemprop="url" src="{% static 'images/bystroe-prodvizhenie-sajta.jpg' %}" alt="Быстрое продвижение сайта" >
			</div>
			<div class="article-content">
				<p></p>
				<ul><li><b><a class='inside-article-menu' href="#h2"> </a></b></li></ul>
				<ul><li><b><a class='inside-article-menu' href="#h3"> </a></b></li></ul>
				<ul><li><b><a class='inside-article-menu' href="#h4"> </a></b></li></ul>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				
				<h2 class="hhtitle" id="h2"><b> </b></h2>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				
				<p> <b class="list">Еще раз, на что стоит обратить внимание и что помнить:</b>
					<i>
					<ul class="list-under"><li></li></ul>
					<ul class="list-under"><li></li></ul>
					<ul class="list-under"><li></li></ul>
					<ul class="list-under"><li></li></ul>
					<ul class="list-under"><li></li></ul>	
					</i>
				</p>
				<h3 class="hhtitle" id='h3'></h3>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p><b class="list">Итак, для продвижения сайта в яндекс и гугл, держим в голове:</b>
					<i>
					<ul class="list-under"><li></li></ul>
					<ul class="list-under"><li></li></ul>
					<ul class="list-under"><li></li></ul>
					<ul class="list-under"><li></li></ul>
					<ul class="list-under"><li></li></ul>	
					</i>
				</p>
				<h4 class="hhtitle" id="h4"><b><u>Бойтесь заказать контекстную рекламу!</u></b></h4>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				<p></p>
				
				<hr class="after-article">
				<p class="list-block"><b class="list">Краткие итоги:</b>
					<ul class="list-under"><li></li></ul>
					<ul class="list-under"><li></li></ul>
					<ul class="list-under"><li></li></ul>
					<ul class="list-under"><li></li></ul>
					<ul class="list-under"><li></li></ul>
				
				<div class='tell-about-article'>
					<p >Расскажи о статье:</p>
					<div class="ya-share2" data-curtain data-shape="round" data-services="telegram,twitter,whatsapp"></div>
				</div>
				<div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
					<meta itemprop="address" content="The city of Novorossiysk, Lenina st., building 71a, office 32">
					<meta itemprop="telephone" content="+79897724661">
					<meta itemprop="legalName" content="webanatomia.ru">
					<meta itemprop="name" content="SEO World">
																		
					<span itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
						<meta itemprop="thumbnail" content="{% static 'images/logomini.png' %}">
						<link itemprop="url" href="{% static 'images/logomini.png' %}">
					</span>
				</div>
				
				<hr class="after-article">
				<p id="title-close-articles">Статьи по теме</p>
			</div>

		</div>
		<!-- РАЗДЕЛ РЕКОМЕНДУЕМЫХ СТАТЕЙ	 -->
		
		<div id="block-similar-articles">
			<div id="article-presentation-card">
				<img id="card-image-size" src="{% static 'images/articles-bottom/increasetraffic-articles-bottom.webp' %}" alt="how to increase traffic">
				<p id="article-title"><a href="{% url 'seo_one.nine_url' %}">Как увеличить трафик на <b><span style="color:red;">175%</span></b> с помощью обратных ссылок</a></p>
				<p id="article-description-part">
					Пошагово разбирается метод для постоянного притока целевого трафика и его значительного увеличения<br/>
				</p>
			</div>
			<div id="article-presentation-card">
				<img id="card-image-size" src="{% static 'images/articles-bottom/secret-prodvijenia-articles-bottom.webp' %}" alt="The secret of seo">
				<p id="article-title"><a href="{% url 'seo_one_two_url' %}">Секрет успешного seo продвижения сайтов</a></p>
				<p id="article-description-part">
					Рассматриваем ключевые моменты для успешного сео продвижения сайта. С чего нужно начинать и как двигаться..<br/>
				</p>
			</div>
			<div id="article-presentation-card">
				<img id="card-image-size" src="{% static 'images/articles-bottom/copywrighting-articles-bottom.webp' %}" alt="how to increase traffic">
				<p id="article-title"><a href="{% url 'seo_one_seven_url' %}"><span style="color: green;"><strong>5</strong></span> шагов <br>для написания эффективной статьи контент-маркетинга</a></p>
				<p id="article-description-part" style="margin-top: -14px">
					Описано пять практических шагов для написания контент – маркетинга, в том числе: главные основы, с чего начать, где брать идеи и практические инструменты в написании<br/>
				</p>
			</div>
		</div>
	
  	<!-- окончание блока статьи -->
		{% endblock content %}
	
</body>
</html>